body{
    background-color:white ;

}
#header{
    background-image:url("/asset/image/back1.jpg");
    background-size: cover;
    height:300px;
}
.me{
    text-align: center;
    padding-top: 40px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#nav{
    display: flex;
    background-color: grey;
    padding-left: 30px;
}
.menu ul > li {
    display: inline-block;
    padding-left: 60px;
    
}
#contact{
    background-color: grey;
    padding-left: 30px;
}
#contact1{
    background-color: grey;
    border-radius: 20px;
}

#footer{
    text-align: center;
    b
}