body{
    background-color:white ;

}
#header{
    background-image:url("/asset/image/back1.jpg");
    background-size: cover;
    height:300px;
}
.me{
    text-align: center;
    padding-top: 40px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#nav{
    display: flex;
    background-color: grey;
    padding-left: 30px;
    border-top-left-radius: 20px;
}
.menu ul > li {
    display: inline-block;
    padding-left: 60px;
    
}

.aboutme{
    display: flex;
    background-color: rgb(216, 207, 207);
    border:5px solid grey;
    
}
.profile{
    width: 50%;
    padding-left: 40px;
    padding-bottom: 20px;
}
img{
    padding-left: 30px;
    padding-top: 60px;
    border-radius: 20px;
}
#service1{

    display:flex;
}

.one,.two,.three{
    
    padding-left: 50px;
}
.one button,.two button,.three>button{
    width: 200px;
    height:200px;
}
#contact{
    background-color: grey;
    padding-left: 30px;
}
#contact1{
    background-color: grey;
    border-radius: 20px;
}

#footer{
    text-align: center;
    
}