body{
    background-color:rgb(17, 17, 17) ;
    margin: auto;
    width: 95%;
    
    
    

}
#header{
    background-image:url("../image/back1.jpg");
    background-size: cover;
    height:600px;
}
.me{
    text-align: center;
    padding-top: 40px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#nav{
    display: flex;
    background-color: grey;
    padding-left: 30px;
    border-top-left-radius: 20px;
    justify-content: space-between;
}
.menu ul > li {
    display: inline-block;
    padding-left: 60px;
    
}
.menu ul{
    display: flex;
    justify-content: end;
    margin-right: 0;
    

}
.aboutme{
    display: flex;
    background-color: rgb(216, 207, 207);
    border:5px solid grey;
    
}
.profile{
    width: 50%;
    padding-left: 40px;
    padding-bottom: 20px;
}
img{
    padding-left: 50px;
    padding-top: 60px;
    border-radius: 20px;
    
}
#img{
    background-color: rgb(197, 184, 184);
    width:50%;

}
#service1{

    display:flex;
    padding-bottom: 20px;
    justify-content:center;
    
}
#services2{
    padding-left: 30px;
    
}

#services{
    margin: auto;
    width: 70%;
    border: 3px solid grey;
    background-color: grey;
}

.one,.two,.three{
    
    padding-left: 50px;
}
.one button,.two button,.three>button{
    width: 200px;
    height:200px;
    border-radius: 20px;
    
}
#contact{
    border: 3px solid grey;
    background-color: grey;
    padding-left: 30px;
}
#contact1{
    
    background-color: grey;
    border-radius: 20px;
}
#btn1,#btn2{
background-color: black;
color: aliceblue;
border: none;
padding:10px;
border-radius: 10px;
}
#footer{
    text-align: center;
    padding-bottom: 20px;
    
}
a:link{
    color: grey;
}
a:hover{
    color:black;
}
